<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="Client" value="800" />
		<add key="TableOwner" value="er1" />
	</appSettings>
	<connectionStrings>
		<add name="SAP" connectionString="Data Source=LRPSAP;database=ER1;uid=sa;pwd=Llrrpp2018"/>
	</connectionStrings>
</configuration>